<div class="center">
    <h6 style="margin-top:10px">
        <a href="https://gitlab.com/XMRD/monero-dollar-block-explorer">source code</a>
        | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
        | monerodollar version: {{monerodollar_version_full}}
    </h6>
</div>
</body>
</html>
